body {
    background-color: black;
    font-family: Arial;
    color: white;
}

h1 {
    color: #333;
}

.carousel img {
    height: 500px;
    object-fit: cover;
}

footer {
    background: #1e1e2f;
}
